    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Update User</title>
    </head>

    <body>

        <h2>Update User</h2>

        <form method="post">
            <label>Name:</label>
            <input type="text" name="name" value="{{ users.NAME }}" required>

            <label>Age:</label>
            <input type="number" name="age" value="{{ users.AGE }}" required>

            <input type="submit" value="Update">
        </form>

        <br>
        <button><a href="/">Back</a>
        </button>
    </body>

    </html>